* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input {
  outline: none;
  border: none;
  background-color: transparent;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}